certifi==2020.11.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
py-cord==1.7.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"